
fhtml, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

@font-face {
  font-family: "thunder";
	src: url('fonts/thundertitancond.ttf');
}

a {
  text-decoration: none;
  color: white;
}
/*------ Accueil - page 1 ------*/
/*-----barre menu 1----*/
#header.alt {
    background: transparent;
}
#header.alt h1 {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    opacity: 0;
}

/*----barre menu 2-----*/
#header {
  -moz-transition: background-color 0.2s ease;
 -webkit-transition: background-color 0.2s ease;
 -ms-transition: background-color 0.2s ease;
 transition: background-color 0.2s  ease;
 background:#121211; /*#2e3842;*/
  height: 3.1em;
  left: 0;
  line-height: 3em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

#header h1 {
  -moz-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

/*---dans les deux barres menus----*/
h1 {
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.225em;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  font-family: 'Electrolize', sans-serif;
  height: inherit;
  left: 1.25em;
  line-height: inherit;
  position: absolute;
  top: 0;
  margin-left: 75%
}

ul {
  list-style: none;
  display: flex;
}

#header nav > ul > li > a {
  border: 0;
  color: #fff;
  font-size: 0.8em;
  letter-spacing: 0.225em;
  padding: 0 1.5em;
  text-transform: uppercase;
  font-family: 'Electrolize', sans-serif;
}


/*

#header nav > ul > li > a.menuToggle:after {
  background-image: url(img/bars.svg);
  background-position: right center;
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 3.75em;
  vertical-align: top;
  width: 2em;
}

a {
    -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
    -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
    -ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
    transition: color 0.2s ease, border-bottom-color 0.2s ease;
    border-bottom: dotted 1px;
    color: inherit;
    text-decoration: none;
}


#header nav > ul > li > a {
    border: 0;
    color: #fff;
    display: block;
    font-size: 0.8em;
    letter-spacing: 0.225em;
    padding: 0 1.5em;
    text-transform: uppercase;
}

*/
/*---image de fond---*/
body#banner {
  background-image: url(img/logo.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000000;
  width: 100%;
  background-position-x: 20px;
  background-position-y: 31px;
}
/*icons steam, fb, event, galery*/
ul.icon {
  position: fixed;
  display: block;
  right: -120px;
  top: 18%;
  list-style-type: none;
}
ul.icon li{
  width: 168px;
   transition: margin-left 0.2s ease;
}
ul.icon li.active {
  margin-left: -100px;
}

ul.icon img {
    max-width: 100%;
}

#steam {
  width: 70px;
  margin-left: 6px;
}

#facebook {
  width: 81px;
}

#event {
  width: 60px;
  margin-left: 10px;
}

#photo {
  width: 58px;
  margin-left: 10px;
}
/*Discord - Forum*/
ul#container {
  display: flex;
  justify-content: center;
  font-family: 'thunder';
  color: white;
  list-style-type: none;
  position: fixed;
  left: 33%;
  top: 68%;
  font-size: 20px;
}

.discord {
  padding: 13px 60px 0px 60px;
  background-color: transparent;
  border-radius: 30px;
  border: solid 2px white;
  margin-right: 60px;
  transition : 80ms linear;
}

.discord:hover {
  background-color: #6050DC;
}

.forum {
  padding: 12px 60px 0px 60px;
  background-color: transparent;
  border-radius: 30px;
  border: solid 2px white;
  transition: 80ms linear;
}

.forum:hover {
  background-color: #121211
}

/*-end -*/

/*--Section--*/
section#presentation{
  background: rgb(181, 45, 36);
  margin-top: 610px;
  position: absolute;
  width: 100%;
  transition: margin-top 1s ease;
}

h2 {
  padding-top: 15px;
  color: rgb(234, 228, 64);
  font-family: 'thunder';
  font-size: 24px;
  text-align: center;
  white-space: nowrap;
}

p.presentation {
  color: white;
  font-family: 'Electrolize', sans-serif;
  font-size: 16px;
  text-align: center;
}

.diagonal{
  width: 100%;
  display: block;
}

#part_event {
background: white;
width: 100%;
padding-bottom: 28px;
}

h3 {
  color: rgb(235, 90, 28);
  font-size: 28px;
  font-family: 'thunder';
  text-decoration: underline;
  text-align: right;
  padding-right: 200px;
}

p.part_event {
  font-family: 'Electrolize', sans-serif;
  font-size: 16px;
  padding-left: 60px;
}

span.boldcolor {
  font-weight: bold;
  color: rgb(235, 90, 28);
  text-transform: uppercase;
}

#part_game {
  background :rgb(235, 90, 28);
  padding-bottom: 28px;
}

h4 {
  color: white;
  font-size: 28px;
  font-family: 'thunder';
  text-decoration: underline;
  text-align: left;
  padding-left: 170px;
}

p.part_game {
  font-family: 'Electrolize', sans-serif;
  font-size: 16px;
  text-align: right ;
  padding-right: 60px;
}

span.majcolor {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

/*---retour sur le banner scroll bas*/
section#return_banner {
  margin-top: 1680px;
  position: absolute;
  color: white;
  font-size: 19px;
  text-align: center;
  width: 100%;
  margin-bottom: 4%;
  font-family:'Electrolize', sans-serif;
}

h5 {
  font-size: 22px;
  font-weight: bold;
}
/*------Game - Page 2 -----*/


.owl-carousel img {
  height: 400px;
  margin: auto;
  width: auto!important;
}
